<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="./signup.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
   
</head>
<body>
    <!-- <div class="container">
        <section id="form-">
                <div class="signup form-peice">
                    <form class="signup-form" action="#" method="post">
                        <div class="form-heading">
                            <h2>Create Account</h2>
                        </div>
                
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <label for="name">Last Name</label>
                            <input type="text" name="username" id="name" class="name">
                            <span class="error"></span>
                        </div>
                
                        <div class="form-group">
                            <label for="email">Email Adderss</label>
                            <input type="email" name="emailAdress" id="email" class="email">
                            <span class="error"></span>
                        </div>
                
                        <div class="form-group">
                            <label for="phone">Phone Number - <small>Optional</small></label>
                            <input type="text" name="phone" id="phone">
                        </div>
                
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="pass">
                            <span class="error"></span>
                        </div>
                
                        <div class="form-group">
                            <label for="passwordCon">Confirm Password</label>
                            <input type="password" name="passwordCon" id="passwordCon" class="passConfirm">
                            <span class="error"></span>
                        </div>
                
                        <div class="CTA">
                            <input type="submit" value="Signup Now" id="submit">
                            <a href="#" class="switch">I have an account</a>
                        </div>
                    </form>
                </div>
        </section>
    </div> -->


<div class="container">
    <form class="form-horizontal">


            <div class="form-group">
                <label class="control-label col-sm-3" for="email">First Name</label>
                
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="firstname" placeholder="Enter first-name">
                </div>
                
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Last Name</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="lastname" placeholder="Enter last-name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="number">Phone Nummber</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="number" placeholder="Enter phone-number">
                </div>
            </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Confirm-Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
    
      
</body>
</html>